* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing: border-box;
}

/*  body rules here */

body {
    font-family: Verdana;
    font-size: 16px;
}

/* header rules here */
header {
    background-color: #6a3d1a;
    padding: 1rem 2%;
    color: #fff;
}

header h1 {
    margin: 0;
}
header h2 {
    margin: 0;

}
/* nag=vigation rules here */
nav {background-color: #b3b8c5;}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: #718e98;}

nav a { 
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: #222725;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #836f54;}

/* main rules here */

main {
    padding: 1rem 2%;
    display: block; 
}
main h1 {color: #6a3d1a;}

main figure img {width: 100%;}
main figure {
    width: 100%;
    display: block;
}

main figcaption {text-align: center; font-size: .8rem;}

footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #6a3d1a;
    color: #fff;
}








html { -webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;}